Source: xivo-python-celery-packaging
Section: python
Priority: optional
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all (>= 2.7),
               python-setuptools,
               python3-all,
               python3-setuptools,
               wget
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.3
Standards-Version: 3.9.8
Homepage: http://www.celeryproject.org/

Package: python-celery-common
Depends: python3-celery (= ${binary:Version}) | python-celery (= ${binary:Version}),
         ${misc:Depends}
Replaces: python-celery (<< 3.1.18-1~xivo8)
Breaks: python-celery (<< 3.1.18-1~xivo8)
Architecture: all
Description: async task/job queue based on message passing (common files)
 Celery is an open source asynchronous task queue/job queue based on
 distributed message passing. It is focused on real-time operation,
 but supports scheduling as well.
 .
 The execution units, called tasks, are executed concurrently on one
 or more worker nodes. Tasks can execute asynchronously (in the
 background) or synchronously (wait until ready).
 .
 Celery is written in Python, but the protocol can be implemented
 in any language. It can also operate with other languages using
 webhooks.
 .
 The recommended message broker is RabbitMQ, but limited support for Redis,
 Beanstalk, MongoDB, CouchDB, and databases (using SQLAlchemy or the Django
 ORM) is also available. Celery is easy to integrate with Django, using the
 python-django-celery package.
 .
 This package contains the common files of the library.

Package: python-celery
Architecture: all
Depends: python-billiard,
         python-dateutil,
         python-kombu,
         python-mailer,
         python-memcache,
         python-pkg-resources,
         python-pyparsing,
         python-tz,
         ${misc:Depends},
         ${python:Depends}
Description: async task/job queue based on message passing (Python2 version)
 Celery is an open source asynchronous task queue/job queue based on
 distributed message passing. It is focused on real-time operation,
 but supports scheduling as well.
 .
 The execution units, called tasks, are executed concurrently on one
 or more worker nodes. Tasks can execute asynchronously (in the
 background) or synchronously (wait until ready).
 .
 Celery is written in Python, but the protocol can be implemented
 in any language. It can also operate with other languages using
 webhooks.
 .
 The recommended message broker is RabbitMQ, but limited support for Redis,
 Beanstalk, MongoDB, CouchDB, and databases (using SQLAlchemy or the Django
 ORM) is also available. Celery is easy to integrate with Django, using the
 python-django-celery package.
 .
 This package contains the Python 2 version of the library.

Package: python3-celery
Architecture: all
Depends: python3-billiard,
         python3-dateutil,
         python3-kombu,
         python3-memcache,
         python3-pkg-resources,
         python3-pyparsing,
         python3-tz,
         ${misc:Depends},
         ${python3:Depends}
Description: async task/job queue based on message passing (Python3 version)
 Celery is an open source asynchronous task queue/job queue based on
 distributed message passing. It is focused on real-time operation,
 but supports scheduling as well.
 .
 The execution units, called tasks, are executed concurrently on one
 or more worker nodes. Tasks can execute asynchronously (in the
 background) or synchronously (wait until ready).
 .
 Celery is written in Python, but the protocol can be implemented
 in any language. It can also operate with other languages using
 webhooks.
 .
 The recommended message broker is RabbitMQ, but limited support for Redis,
 Beanstalk, MongoDB, CouchDB, and databases (using SQLAlchemy or the Django
 ORM) is also available. Celery is easy to integrate with Django, using the
 python-django-celery package.
 .
 This package contains the Python 3 version of the library.
