#!/usr/bin/make -f

PKG = $(word 2,$(shell dpkg-parsechangelog | grep Source))
VER ?= $(shell cat VERSION)
CELERY_URL_DOWNLOAD = "https://pypi.python.org/packages/source/c/celery/celery-${VER}.tar.gz"

PREFIX = debian/python-celery
PREFIX3 = debian/python3-celery
PREFIXC = debian/python-celery-common

export PYBUILD_NAME=celery
export PYBUILD_DISABLE=test
export PYBUILD_SYSTEM=distutils

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_clean:
	rm -rf .build
	dh_clean

override_dh_auto_clean:
	if [ -f setup.py ]; then dh_auto_clean; fi
#
#override_dh_install:
#	dh_install
#
#override_dh_auto_install:
#	dh_auto_install
#	rmdir --ignore-fail-on-non-empty --parents $(PREFIX)/usr/bin $(PREFIX3)/usr/bin

override_dh_installchangelogs:
	true

override_dh_installexamples:
	true

override_dh_installman:
	true

.PHONY: get-orig-source

get-orig-source:
	@echo "# Downloading..."
	wget -nv -T10 -t3 $(CELERY_URL_DOWNLOAD) -O ../$(PKG)_$(VER).orig.tar.gz
